@tailwind base;
@tailwind components;
@tailwind utilities;

.chr-hero-light__heading {
    margin: 240 auto;
    max-width: 840px;
}

.section__content {
    padding-left: 4rem;
    padding-right:4rem;
    line-height:normal;
}

.py-5 {
    padding-top: 1rem;
    padding-bottom:1rem;
}
.footer-language-wrap{
    padding-top: 10rem;

}
.loat-right{
    padding-bottom:10px;
}
